.home {
   padding-bottom: 90px;
   &__container {
      max-width: 1230px;
      margin: 0 auto;
   }

   &__content-top {
      display: flex;
      justify-content: space-between;
      padding: 40px 0;
   }

   &__content {
      h1 {
         font-weight: bold;
         font-size: 32px;
         line-height: 39px;
         letter-spacing: 0.01em;
         color: #000000;
         margin-bottom: 35px;
      }
   }
}

.categories {
   display: flex;

   &__item {
      background: #F9F9F9;
      border-radius: 30px;
      padding: 15px 26px;
      margin-right: 9px;
      height: 46px;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.015em;
      color: #2C2C2C;
      cursor: pointer;
      transition: background .3s ease-in-out, color .3s ease-in-out;

      &--active {
         background: #282828;
         color: #fff;
      }
   }
}

.sort {
   position: relative;
   &__label {
      display: flex;
      align-items: center;
      b {
         font-weight: bold;
         font-size: 14px;
         line-height: 17px;
         letter-spacing: 0.015em;
         color: #2C2C2C;
         margin: 0 7px;
      }

      span {
         font-size: 14px;
         line-height: 17px;
         letter-spacing: 0.015em;
         color: #FE5F1E;
         border-bottom: 1px dashed #FE5F1E;
         cursor: pointer;
      }
   }

   &__icon {
      cursor: pointer;
      transform: rotate(0deg);
      transition: transform .2s ease-in-out;

      &--active {
         cursor: pointer;
         transform: rotate(180deg);
         transition: transform .2s ease-in-out;
      }
   }

   &__popup {
      padding: 13px 0;
      position: absolute;
      right: 0;
      z-index: 2;
      background: #FFFFFF;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
      border-radius: 10px;
   }

   &__item {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.015em;
      color: #000000;
      padding: 10px 16px;
      cursor: pointer;

      &--active {
         background: rgba(254, 95, 30, 0.1);
         font-weight: bold;
         font-size: 14px;
         line-height: 17px;
         letter-spacing: 0.015em;
         color: #FE5F1E;
      }

      &:hover {
         background: rgba(254, 95, 30, 0.05);
      }
   }
}

.cards {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}